/*图片网格显示*/
#postBody p:has(> a > img), #postBody p:has(> img) {
    display:grid;
    grid-template-columns:repeat(auto-fill, minmax(min(150px, 100%), 1fr));
    gap:10px;
    margin:1.5rem 0;
    align-items:start;
}
#postBody p:has(img) br {
    display:none;
}
#postBody p:has(img) a:only-of-type, #postBody p:has(img) img:only-of-type {
    grid-column:1 / -1;
}
#postBody p img {
    width:100% !important;
    aspect-ratio:1 / 1;
    object-fit:cover;
    border-radius:8px;
    display:block;
    background-color:#f0f0f0;
}
#postBody p:has(img) a:only-of-type img, #postBody p:has(img) img:only-of-type {
    aspect-ratio:auto;
    max-height:550px;
    width:auto !important;
    max-width:100%;
}
